.small-font {
  font-size: x-small;
}

i:hover {
  cursor: pointer;
  font-weight: bold;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
