  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom-padding">
      <a class="navbar-brand" href="#">
        <img src="../../assets/workflow.png" width="30" height="30" class="d-inline-block align-top" alt=""> &nbsp;
        {{ appName }}
        <span style="font-size: small; color: indianred">v{{ version }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" *ngIf="savedOrSelectedWorkflowName">
            <span style="color: white">|</span>
            <a class="nav-link" href="#" style="display: inline">
              <div class="alert alert-primary" role="alert">
                {{ savedOrSelectedWorkflowName }}
              </div>

            </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success mr-sm-2" type="submit" (click)="clickSave()">Save</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="clickRun()">Run</button>
        </form>
      </div>
    </nav>


