<svg:g (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
    <svg:rect [attr.class]="!isSelected ? 'rect': 'rect rect-select'" [attr.x]="x" [attr.y]="y" [attr.height]="height" [attr.width]="width" rx="3" ry="3"
            (click)="onSelect($event)"
            (mousedown)="dragStart($event)"
            (mousemove)="drag($event)"
            (mouseleave)="dragEnd()"
            (mouseup)="dragEnd()"
  ></svg:rect>
  <svg:text [attr.x]="+x + +(width/2)"
        [attr.y]="+y + +(height/2)"
        class="control-text"
        alignment-baseline="middle"
        (click)="onSelect($event)"
        (mousedown)="dragStart($event)"
        (mousemove)="drag($event)"
        (mouseleave)="dragEnd()"
        (mouseup)="dragEnd()">
    {{ name }}
  </svg:text>


  <svg:g app-connector
  [attr.class]="isSelected ? 'connector visible' : 'connector'"
  [controlType]="'activity'" [controlCordinates]="connectorCordinate"
  [controlId]="id"
  [height]="height" [width]="width"
  />

  <svg:g app-receiver
  [attr.class]="isHovered ? 'receiver visible' : 'receiver'"
  [controlType]="'activity'"
  [controlId]="id"
  [controlCordinates]="connectorCordinate"
  [height]="height" [width]="width"
  />

</svg:g>

