<svg:g>
  <svg:polygon [attr.points]="leftPosition" class="linkPointArrow" id="leftArrow" (mousedown)="startConnection('left')" ></svg:polygon>
  <svg:polygon [attr.points]="upPosition" class="linkPointArrow" id="upArrow" (mousedown)="startConnection('up')"></svg:polygon>
  <svg:polygon [attr.points]="rightPosition" class="linkPointArrow" id="rightArrow" (mousedown)="startConnection('right')"></svg:polygon>
  <svg:polygon [attr.points]="downPosition" class="linkPointArrow" id="downArrow" (mousedown)="startConnection('down')"></svg:polygon>
</svg:g>

